################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

*.opendb
*.db
*.dll
*.exe
*.vshost
*.manifest
*.pdb
*.json
*.ilk